{% extends 'main.html' %}
{% load static  %}
{% block content %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        {% if cars.carImage %} <img class="card-img-top mb-5 mb-md-0" src="{{ cars.carImage.url }}" alt="..." /> {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">
                           <h1>{{ cars.manufacturer }}</h1>
                        </div>
                        <h2><a href="{% url 'rental' pk=cars.pk %}">{{ cars.carModel }}</a></h2>
                        <div class="fs-5 mb-5">
                            <span>Κόστος Ενοικίασης ανά ημέρα&nbsp;&nbsp;&nbsp;{{ cars.price }} €</span><br>
                            <span>Τύπος Αμαξώματος &nbsp;&nbsp;{{ cars.type }} </span><br>
                            <span>Τύπος Κιβωτίου &nbsp;&nbsp;{{ cars.transmission }} </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <div class="reserveMobile">
                                    <a href="#" class="btn btn-sm animated-button thar-three">Book this car</a>
                                </div>
                                <div class="contactCar">
                                    <i class="fas fa-paper-plane"></i> <span class="textCar"><i>CONTACT US</i></span>
                                </div>
                                <form id="contact-form" class="form" action="#" method="POST" role="form">
                                    {% csrf_token  %}
                                    <div class="form-group">
                                        <input type="text" class="form-control"  name="name" placeholder="Ονοματεπώνυμο" tabindex="1" required>
                                    </div>
                                    <div class="form-group">

                                        <input type="email" class="form-control"  name="email" placeholder="Email επικοινωνίας" tabindex="2" required>
                                    </div>
                                    <div class="form-group">

                                        <input type="text" class="form-control" name="number" placeholder="Τηλέφωνο επικοινωνίας" tabindex="3">
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="2" cols="10" name="message" class="form-control textareaCar" id="message" placeholder="Γράψτε το μήνυμα σας εδώ" tabindex="4" required></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button id='buttonSendCar' type="submit" class="btn btn-start-order ">Send </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% if user.is_authenticated  %}
                                    <div class="buttonCar">
                                        <a href="{% url 'createRental' pk=cars.id %}" class="btn btn-sm animated-button thar-three">Κάνε κράτηση τώρα</a>
                                    </div>
                                    {% else  %}
                                    <div class="buttonCar">
                                        <a  href='' class="btn btn-sm animated-button thar-three" onclick=showAlert()>ΚΑΝΕ ΚΡΑΤΗΣΗ ΤΩΡΑ</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
             <!-- Section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Άλλες προτάσεις για εσάς</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for car in carRelated %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Car image-->
                           {% if car.carImage %}
                               <img class="card-img-top" src="{{ car.carImage.url}}" alt="..." />
                           {% endif %}
                            <!-- CAR details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Model: {{ car.carModel }}</h5>
                                    <!-- Product price-->
                                    Απο {{ car.price }} € / ημέρα
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Κάνε μια κράτηση
                                </a></div>
                            </div>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </section>
      <script>
        function showAlert() {
            let myText = "Προσοχή!Για να προχωρήσετε σε κράτηση θα πρέπει πρώτα να πραγματοποιήσετε είσοδο με τα στοιχεία σας";
            alert (myText);
        }
      </script>
{% endblock %}

