       {% load static  %}
        <!-- Footer-->
        <footer id="footer" class="py-5 bg-dark">

<div class="container-fluid linesBig">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
      <div class="col-4">
        <div class="textPc">Επικοινωνήστε μαζί μας</div>
      </div>
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
    </div>
  </div>
  <div class="grid-container-footer">
    <div class="time">
      <div class="timeWrapperFooter">
        <div class="timePosFooter">
          <div class="dayDateFooter">
          Δευτέρα - Παρασκευή:
          </div>
          <div class="hoursFooter">
            9:00 - 17:30 (9 AM - 5:30 PM)
          </div>
          <div class="dayDateFooter">
             Σάββατο:
          </div>
          <div class="hoursFooter">
            9:00 - 14:30 (9 AM - 2:30 PM)
          </div>
          <div class="timeZoneFooter">
             Greek: Ώρα Ανατολικής Ευρώπης; EET; UTC+02:00
          </div>
        </div>
        <div class="bordersFooterMobile"></div>
      </div>

    </div>
    <div class="terms">
      <div class="wrapperTermsFooter">
        <a href="#" class="termsLinkFooter">Γενικοί Όροι</a>
      </div>
    </div>
    <div class="phone">
      <div class="wrapperPhoneFooter">
        <div class="phonesFooter">
          <div class="callFooter">Τηλέφωνα επικοινωνίας</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Σέρρες </div><div class="numberFooter"> +30 23210 12345</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Καβάλα </div><div class="numberFooter"> +30 2510 454545</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Δράμα </div><div class="numberFooter"> +30 25210 55555</div>
        </div>
      </div>
    </div>
    <div class="faq">
      <div class="faqTermsFooter">
        <a href="#" class="faqLinkFooter">Συχνές ερωτήσεις</a>
      </div>
    </div>
    <div class="office"><!--Same classes as time-->
      <div class="timeWrapperFooter">
        <div class="bordersFooterMobile"></div>
        <div class="placePosFooter">
          <div class="dayDateFooter">
          Κεντρικό Κατάστημα Σέρρες:
          </div>
          <div class="hoursFooter">
          2 χλμ ΕΟ Σερρών Θεσσαλονίκης
          </div>
          <div class="dayDateFooter">
            Υποκατάστημα Καβάλας:
          </div>
          <div class="hoursFooter">
            8ο χλ Καβάλας-Ελευθερούπολης (περιοχή Αμισιανά) - Καβάλα:
          </div>
          <div class="dayDateFooter">
            Υποκατάστημα Δράμας:
          </div>
          <div class="hoursFooter">
            7ο χλμ Δράμας-Καβάλας Χωριστή - Δράμα
          </div>
        </div>
      </div>
    </div>
    <div class="who">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Χρήστος Μπάρμπας ΑΜ 209 Website 2022</p></div>
      <!--<div class="whoFooter">
        © Copyright <a href="https://winterodin.vcraft.pl/index.html " class="linkWinterFooter">WinterOdin</a> 2020 All rights reserved.
      </div>-->
    </div>
  </div>

        </footer>
