{% extends 'main.html' %}
{% load static  %}
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="conUserData">
                    <div class="row">
                        <div class="col-12">
                            <div class="tileTitle">
                                Αναζήτηση
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form type="get" action="." class="container">
                            <div class="col-5">
                                <div class="textUserData inputBoxCustomer">
						            <input type="text" name="txt">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="UserData" >
                                    <input type="submit" class="raise" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="conDateData">
                    <form action="{% url 'home' %}" method="POST" id="formRental">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="tileTitle">
                                Ημερομηνία Ενοικίασης
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Ημερομηνία Παραλαβής:
                            </div>
                        </div>
                        <div class="col-7">

                            <label>
                                <input type="text" class="dateSelect startDateJq " required="required" name='startDate' />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Ημερομηνία παράδοσης:
                            </div>
                        </div>
                        <div class="col-7">
                            <label>
                                <input type="text" class="dateSelect  endDateJq" required="required" name='endDate' />
                            </label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 col-4"></div>
                            <div class="col-md-4  col-4" >
                                <div class="orderButton">
                                    <button type='submit' formaction="{% url 'home' %}" formmethod="post"
                                            value="Αναζήτηση" class="raise">Αναζήτηση
                                    </button>
                                </div>
                            </div>
                        <div class="col-md-4 col-4"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

      <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for car in cars %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Car image-->
                           {% if car.carImage %}
                               <img class="card-img-top" src="{{ car.carImage.url}}" alt="..." />
                           {% endif %}
                            <!-- CAR details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Model: {{ car.carModel }}</h5>
                                    <!-- Product price-->
                                    Απο {{ car.price }} € / ημέρα
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'rental' pk=car.pk %}">Κάνε μια κράτηση
                                </a></div>
                            </div>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </section>
<script>
    var data            = JSON.parse("{{dataClean|escapejs}}");
    var currentDate     = new Date();

    $('.dateSelect').datepicker({
        format: 'mm/dd/yyyy',
        autoClose:true,
        datesDisabled:data,
        startDate: currentDate ,
    });
    $('.dateSelect').datepicker()
    .on('changeDate', function() {

        var startDate   = new Date($(".startDateJq").val());
        var endDate     = new Date($(".endDateJq").val());
        var diffDate    = (endDate  - startDate) / (1000 * 60 * 60 * 24);
        var days        = Math.round(diffDate);
        console.log(days)
    });
</script>
 {% endblock %}
