{% include 'main.html' %}
{% load static %}
    <div class="wrapperUpdate">
    </div>
    <div class="blockUpdate">
        <div class="exitUpdate">
            <a class="exitLinkUpdate" href="{% url 'home' %}">
                <i class="exitIconUpdate fas fa-times-circle"></i>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">

                </div>
                    <div class="col-6">
                        <div class="text-center text-white">
                            <h1 class="display-4 text-black fw-bolder">Σέρρες Rent A Car</h1>
                            <p class="lead fw-normal text-black-50 mb-0">Κανε τώρα την κράτηση σου</p>
                            <a href="/"><img src="{% static 'media/six-rent-a-car.jpg' %}" alt="" width="150 px"></a>
                        </div>
                    </div>
                <div class="col-3">

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="experienceTitle updateTitle">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
            <form action="{% url 'login1' %}" enctype="multipart/form-data" method="POST" >
                {% csrf_token  %}
                {% if error_message %}
                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                {% endif %}
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="inputBoxCustomer">
                            <h6> Username: </h6>
                            {{ loginForm.username  }}
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="inputBoxCustomer" >
                            <h6> Password: </h6>
                            {{ loginForm.password  }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 "></div>
                    <div class="col-6 ">
                        <div class="submitUpdate">
                            <button type="submit" class="raise">Submit</button>
                            <a href="{% url 'register' %}">Εγγραφή</a>
                        </div>
                    </div>
                    <div class="col-3 "></div>
                </div>

            </form>
        </div>
    </div>



