
{% load static %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Σέρρες Rent A Car</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Κανε τώρα την κράτηση σου</p>
                    <a href="/"><img src="{% static 'media/six-rent-a-car.jpg' %}" alt="" width="150 px"></a>
                </div>
            </div>
        </header>

